@media screen and (min-width: 1150px) {
  .wallpaperThree {
    height: 105vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .wallpaperThree i {
    margin-right: 1rem;
  }
}
