@media screen and (max-width: 1150px) {
  .wallpaperThree {
    height: 130vh;
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    margin-top: 3rem;
  }

  .sectionOne {
    margin-top: 2rem;
    width: 100%;
    /* background: linear-gradient(to right, rgb(7, 1, 31), rgb(1, 11, 24)); */
    height: 30%;
    display: flex;
    align-items: center;
  }

  .sectionOne .titleFirst {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    height: 100%;
    text-align: center;
  }

  .sectionOne .titleFirst h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30.3%;
    font-size: 13px;
    font-family: var(--fontfam4);
    font-weight: 600;
    letter-spacing: 2px;
  }

  .sectionOne .titleFirst p {
    margin-top: 1rem;
    display: flex;
    height: 50.3%;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #888;
    margin-bottom: 2rem;
  }

  .sectionOne .titleFirst a {
    width: 100%;
    height: 20.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fontfam1);
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 2px;
    transition: all 1.7s ease-in-out;
  }

  .sectionOne a:hover,
  .sectionone a::before {
    transform: scale(1.1);
    transition: all 1.7s ease-in-out;
  }

  .sectionTwo {
    margin-top: 1rem;
    border-top: 2px solid #666;
    width: 100%;
    height: 20%;
    display: flex;
    transition: all 1s ease-in-out;
  }

  .sectionTwo ul li:hover,
  .sectionTwo ul li::before {
    transform: scale(1.05);
    transition: all 1s ease-in-out;
  }

  .sectionTwo ul {
    justify-content: space-between;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    gap: rem;
    justify-content: center;
  }

  .sectionTwo ul li {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sectionTwo ul li a {
    font-size: 15px;
    font-family: var(--fontfam4);
    color: whitesmoke;
    font-weight: bold;
    transition: all 1s ease-in-out;
  }

  .sectionTwo .martinRoyal {
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .sectionTwo .martinRoyal img {
    display: none;
    width: 50%;
    min-height: 100%;
    transition: all 1s ease-in-out;
  }

  .sectionTwo .martinRoyal img:hover,
  .sectionTwo .martinRoyal img::before {
    transform: scale(1.3);
    transition: all 1.7s ease-in-out;
  }

  .sectionTwo .martinRoyal a:hover,
  .sectionTwo .martinRoyal a::before {
    transform: scale(1.25);
    transition: all 1s ease-in-out;
    color: whitesmoke;
  }

  .sectionTwo .martinRoyal a {
    position: absolute;
    display: none;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 27px;
    font-family: var(--fontfam4);
    color: rgba(255, 255, 255, 0.801);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 200;
    transition: all 1s ease-in-out;
  }

  .sectionThree {
    border-top: 2px solid #666;
    width: 100%;
    height: 50%;
    display: flex;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }

  .sectionThree a:hover,
  .sectionThree a::before {
    transform: scale(1.07);
    transition: all 1s ease-in-out;
  }

  .lastTitleOne {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: 20px;
    margin-top: 20px;
  }

  .lastTitleOne p {
    margin-right: 30px;
    font-family: var(--fontfam9);
    font-size: 15px;
    margin-left: 1rem;
  }

  .lastTitleTwo {
    font-size: 15px;
    width: 40%;
    padding: 15px;
    height: 100%;
  }

  .lastTitleTwo p {
    font-size: 10px;
    height: 50%;
    font-family: var(--fontfam4);
    font-weight: bold;
  }

  .lastTitleThree {
    width: 45%;
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .lastTitleThree a {
    font-size: 13px;
    font-family: var(--fontfam9);
    font-weight: 500;
    letter-spacing: 1px;
  }

  .lastTitleThree p {
    font-size: 14px;
    margin-top: 10px;
    height: 50%;
    font-family: var(--fontfam4);
    font-weight: 100;
  }

  .sectionFour {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #555;
  }

  .sectionFour a {
    font-size: 16px;
    letter-spacing: 4px;
    color: #888;
    font-family: var(--fontfam1);
  }

  .wallpaperThree i {
    margin-left: .5rem;
  }
}
