@media screen and (min-width: 1150px) {
  .flexElementTwo {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -5%;
    left: 0;
    right: 0;
    background: black;
    height: 100vh;
    width: 100vw;
    border-radius: 30px;
  }

  .contentThree {
    position: relative;
    height: 105vh;
    width: 100%;
    background: black;

  }

  .contentThree :hover,
  .contentThree ::before {
    transform: scale(1.02);
    transition: all 1s ease-in-out;
    opacity: 1;
  }

  .photoElementThree {
    border-radius: 10px;
    height: 110%;
    width: 100%;
    overflow: hidden;
    transition: all 2s ease-in-out;
    background: black;
    
  }

  .photoElementThree img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    opacity: .55;
    height: 130%;
    transition: all 1s ease-in-out;
  }

  .headingElementThree {
    position: absolute;
    width: 50%;
    height: 210px;
    top: 70px;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-in-out;

  }

  .headingElementThree a {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--fontfam4);
    font-weight: 400;
    text-shadow: 1px 1px 20px #777;
    font-size: 55px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 15px;
    transition: all 1s ease-in-out;
    cursor: pointer;
  }

  .headingElementThree p {
    width: 100px;
    height: 130px;
    font-family: var(--fontfam4);
    font-weight: bold;
  }
}
