@media  screen and (max-width: 1150px){
  .wallpaper {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: -2;
    margin-bottom: 3rem;
  }

  .photoBackground {
    width: 100%;
    height: 100%;
  }
  
  .photoBackground img {
    min-width: 100%;
    height: 110%;
    position: fixed;
    top: -40px;
  }
  
  .menuSection {
    background-color: #070b16;
    z-index: 3;
    top: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: center;
    align-items: center;
  }

  .firstMenu {
    height: 100%;
    width: 50vw;
    text-align: center;
  }

  .firstMenu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #070b16;
  }

  .firstMenu ul li {
    text-align: center;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .firstMenu ul li :hover,
  .firstMenu ul li ::before {
    border-bottom: 1px solid #999;
    color: white;
    transform: scale(1.05);
  }

  .firstMenu ul li a {
    font-size: 8px;
    font-family: var(--fontfam4);
    color: whitesmoke;
    text-shadow: 0px 3px 3px black;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8;
    transition: all 1s ease-in-out;
  }

  .firstMenu ul li a span {
    margin-right: 5px;
  }

  .astonMartin {
    position: absolute;
    width: 250px;
    height: 50px;
    right: 0;
    left: 0;
    margin-top: 4.2rem;
    margin-right: auto;
    margin-left: auto ;
    z-index: 2;
  }

  .svgMartin {
    width: 100%;
    height: 100%;
  }

  .svgMartin a {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
  }

  .svgMartin img {
    overflow: hidden;
  }

  .svgMartin h2 {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 27px;
    font-family: var(--fontfam7);
    color: rgba(255, 255, 255, 0.801);
    text-shadow: 2px 3px 4px black;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 300;
    transition: all 1s ease-in-out;
  }

  .svgMartin h2 span {
    margin-left: 10px;
  }

  .svgMartin a h2:hover,
  .svgMartin a h2::before {
    color: #555;
    transform: scale(1.05);
    opacity: 1;
  }

  .secondMenu {
    right: 0;
    height: 100%;
    width: 50vw;
    text-align: center;
    margin-left: 1rem;
  }

  .secondMenu ul {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .secondMenu ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .secondMenu ul li a {
    font-size: 8px;
    font-family: var(--fontfam1);
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 3px black;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 1s ease-in-out;
    opacity: 0.6;
  }

  .secondMenu ul li a:hover,
  .secondMenu ul li a::before {
    border-bottom: 1px solid #999;
    color: white;
    transform: scale(1.05);
    opacity: 1;
  }

  
  .headingSection {
    margin-top: 2rem;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 110%;
    background-color: #070b16;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
  }

  .headingSection :hover,
  .headingSection ::before {
    transform: scale(1.05);
    transition: all 1s ease-in-out;
  }

  .headingSection .pTag {
    height: 17%;
    background-color: #070b16;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .headingSection .pTag p {
    bottom: 0;
    position: absolute;
    font-family: var(--fontfam7);
    text-shadow: 2.5px 2px 5px black;
    opacity: 0.9;
  }

  .headingSection .hTag {
    height: 100%;
    width: 100%;
  }

  .headingSection .hTag h2 {
    width: 100%;
    font-family: var(--fontfam6);
    font-weight: 200;
    height: 85px;
    font-size: 60px;
    text-shadow: 2.5px 2px 5px black;
  }

  .infoSection {
    position: absolute;
    bottom: 0;
    top: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50vh;
    background-image: linear-gradient(
      to right top,
      #33427071,
      #4f68bb71,
      #4f68bb71,
      #4f68bb71,
      #4f68bb71,
      #2a366494,
      #27335f88,
      #24305aa6,
      #1c274880,
      #161f37b4,
      #101626,
      #070b16
    );
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    opacity: 0.85;
  }

  .selector {
    background-color: #070b16;
    width: 100%;
    height: 100%;
  }

  .selector ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }

  .selector ul li {
    transition: all 2s ease-in-out;
  }

  .selector ul li a {
    font-size: smaller;
    opacity: 0.7;
    border-bottom: 2px solid #999;
  }

  .selector ul li :hover,
  .selector ul li ::before {
    color: white;
    border-bottom: 3px solid #fff;
    opacity: 1;
  }

  .specPhoto {
    width: 100%;
    height: 50%;
  }

  .specPhoto img {
    transition: all 1s ease-in-out;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  .specPhoto :hover,
  .specPhoto ::before {
    transition: all 1s ease-in-out;
    transform: scale(1.15);
  }

  .barContent {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0.8;
    bottom: -70px;
  }

  .barSpec {
    margin-top: 25px;
    width: 100%;
    height: 30%;
    right: 0;
  }

  .barSpecTwo {
    width: 80%;
    height: 100%;
    background-color: aliceblue;
  }

  .barSpecThree {
    width: 80%;
    height: 100%;
    background-color: aliceblue;
  }

  .barSpec p {
    position: relative;
    color: white;
    font-size: 13px;
    top: 5px;
    left: 10px;
  }

  .barOne {
    border-radius: 150px;
    position: relative;
    left: 150px;
    width: 50%;
    background-color: white;
    height: 1.5px;
  }

  .currentNumber {
    width: 20%;
    position: absolute;
    right: 12px;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .currentNumber .totalNumber {
    font-size: 13px;
    font-family: var(--fontfam4);
    font-weight: 100;
    color: white;
  }
}
