@media only screen and (min-width: 1150px) {
  .wallpaper {
    height: 100vh;
    position: relative;
    z-index: -3;
  }

  .photoBackground {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }

  .photoBackground img {
    min-width: 100vw;
    height: 110%;
    position: fixed;
    top: -40px;
    overflow: hidden;

  }

  .headingSection {
    cursor: pointer;
    position: absolute;
    width: 500px;
    height: 200px;
    top: 250px;
    left: 50px;
    display: flex;
    flex-direction: column;
    transition: all 1s ease-in-out;
  }

  .headingSection :hover,
  .headingSection ::before {
    transform: scale(1.05);
    transition: all 1s ease-in-out;
  }

  .headingSection .pTag {
    height: 15%;
  }

  .headingSection .pTag p {
    font-family: var(--fontfam9);
    margin-left: 10px;
    text-shadow: 2.5px 2px 5px black;
    opacity: 0.9;
  }

  .headingSection .hTag {
    height: 100%;
    width: 100%;
  }

  .headingSection .hTag h2 {
    width: 100%;
    font-family: var(--fontfam6);
    font-weight: 200;
    height: 85px;
    font-size: 70px;
    text-shadow: 2.5px 2px 5px black;
  }

  .infoSection {
    width: 300px;
    height: 320px;
    background: transparent;
    background-image: listnear-gradient(
      to right top,
      #33427071,
      #4f68bb71,
      #4f68bb71,
      #4f68bb71,
      #4f68bb71,
      #2a366494,
      #27335f88,
      #24305aa6,
      #1c274880,
      #161f37b4,
      #101626,
      #070b16
    );
    position: absolute;
    right: 60px;
    top: 110px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    opacity: 0.85;
  }

  .selector {
    width: 80%;
    height: 20%;
  }

  .selector ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
  }

  .selector ul li {
    transition: all 2s ease-in-out;
  }

  .selector ul li a {
    font-size: smaller;
    opacity: 0.7;
  }

  .selector ul li :hover,
  .selector ul li ::before {
    color: white;
    border-bottom: 2px solid #999;
    opacity: 1;
  }

  .specPhoto {
    width: 100%;
    height: 50%;
    background-color: blueviolet;
  }

  .specPhoto img {
    transition: all 1s ease-in-out;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
  }

  .specPhoto :hover,
  .specPhoto ::before {
    transition: all 1s ease-in-out;
    transform: scale(1.15);
  }

  .barContent {
    width: 100%;
    height: 40%;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0.8;
  }

  .barSpec {
    margin-top: 20px;
    width: 100%;
    height: 10%;
  }

  .barSpecTwo {
    width: 80%;
    height: 100%;
    background-color: aliceblue;
  }

  .barSpecThree {
    width: 80%;
    height: 100%;
    background-color: aliceblue;
  }

  .barSpec p {
    position: relative;
    color: white;
    font-size: 13px;
    left: 20px;
  }

  .barOne {
    border-radius: 150px;
    position: relative;
    left: 10px;
    width: 70%;
    background-color: white;
    height: 1.5px;
  }

  .currentNumber {
    width: 20%;
    position: absolute;
    right: 12px;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .currentNumber .totalNumber {
    font-size: 13px;
    font-family: var(--fontfam4);
    font-weight: 100;
    color: white;
  }

  .wallpaperTwo {
    background-image: linear-gradient(
      to top #05070cf5,
      #05070cb6,
      #05070cb6,
      #05070cb6,
      #0a1129c7,
      #0a1129c7,
      #0a1129ef,
      #0c1127f6,
      #091024ec,
      #161f37e3,
      #121b35ec,
      #0613364b
    );
    height: 150vh;
  }
}
