@media screen and (min-width: 1150px) {
  .bigContact {
    position: relative;
    height: 100%;
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
  }
}
