@media only screen and (min-width: 1150px) {
  .contactSection {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    height: 200vh;
    background: whitesmoke;
    margin-bottom: .5rem;
  }

  .headingContact {
    margin-top: 50px;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .headingContact p {
    margin-left: 30px;
    font-size: 25px;
    color: #111;
    font-weight: 500;
    letter-spacing: 5px;
  }

  .headingContact h2 {
    letter-spacing: 3px;
    color: #444;
    margin-left: 30px;
    font-size: 40px;
    font-weight: 300;
    font-family: var(--fontfam6);
  }

  .cardContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: center;
    align-items: center;
  }

  
  .cardContent :hover,
  .cardContent::before {
    transition: all 1s ease-in-out;
    transform: scale(1.04);
    border-radius: 30px;
  }


  .bigPhoto {
    max-width: 550px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }

  .bigPhoto img {
    width: 105%;
    height: 100%;
    transition: all 1s ease-in-out;
    max-width: 115%;
    max-height: 100%;
  }

  .bigHeading {
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 1s ease-in-out;
    flex-direction: column;
    letter-spacing: 3px;
  }

  .bigHeading p {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 22px;
    font-family: var(--fontfam1);
  }

  .bigHeading h2 {
    height: 35%;
    color: black;
    width: 100%;
    font-weight: 300;
    font-size: 24px;
    font-family: var(--fontfam3);
  }

  .bigHeading a {
    height: 20%;
    width: 100%;
    font-size: 20px;
    align-items: center;
    font-family: var(--fontfam7);
    font-weight: 600;
    color: #222;
    margin-top: 60px;
  }

  .bigContact {
    position: relative;
    height: 100%;
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
  }
}
