@media screen and (max-width: 1150px) {
  .contactSection {
    display: flex;
    flex-direction: column;
    height: 125vh;
    
    background: whitesmoke;
    
  }

  .headingContact {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .headingContact p {
    font-size: 25px;
    color: #111;
    font-weight: 500;
    letter-spacing: 5px;
  }

  .headingContact h2 {
    letter-spacing: 3px;
    color: #444;
    font-size: 40px;
    font-weight: 300;
    font-family: var(--fontfam6);
  }

  .bigContact {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .cardContent {
    padding: .3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
  }

  .bigPhoto {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
  }

  

  .bigPhoto img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    transition: all 1s ease-in-out;

  }

  .cardContent :hover,
  .cardContent::before {
    transition: all 1s ease-in-out;
    transform: scale(1.04);
    border-radius: 30px;
  }

  .bigHeading {
    width: 100%;
    height: 50%;
    display: flex;
    transition: all 1s ease-in-out;
    flex-direction: column;
    position: relative;
  }

  .bigHeading p {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
    font-family: var(--fontfam1);
  }

  .bigHeading h2 {
    color: black;
    width: 100%;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: var(--fontfam3);
  }
  
  .bigHeading a {
    background: linear-gradient(to right top, #021035, #070b16);
    bottom: 0;
    right: 0;
    text-align: center;
    position: absolute;
    height: 15%;
    border-radius: 5px;
    transition: all 1s ease-in-out;
    display: flex;
    width: 100%;
    font-size: 13px;
    align-items: center;
    font-family: var(--fontfam7);
    font-weight: 600;
    color: white;
    justify-content: center;
  }

  .seeAllContent {
    display: flex;
    height: 5.5%;
    width: 205px;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    text-align: center;
    right: 0;
    align-items: center;
    justify-content: center;
  }

  .buttonAll {
    border-left: 3px solid #333;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(243, 238, 238, 0.89),
      rgb(241, 237, 237)
    );
  }

  .buttonAll a {
    color: black;
    font-family: var(--fontfam9);
    font-weight: 500;
    font-size: 18px;
    transition: all 1.7s ease-in-out;
  }

  .buttonAll a:hover,
  .buttonAll a::before {
    transform: scale(1.1);
    transition: all 1.7s ease-in-out;
  }
}

.contactSection i{
  margin-left: 1rem;
}