@media screen and (min-width: 1150px) {
  .menuSection {
    z-index: 3;
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    background-color: rgba(0, 1, 3, 0.397);
  }

  .astonMartin {
    position: absolute;
    width: 250px;
    height: 50px;
    z-index: 2;
  }

  .svgMartin {
    width: 100%;
    height: 100%;
  }

  .svgMartin a {
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    color: black;
    position: absolute;
  }

  .svgMartin img {
    overflow: hidden;
  }

  .svgMartin h2 {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 27px;
    font-family: var(--fontfam9);
    color: rgba(255, 255, 255, 0.801);
    text-shadow: 2px 3px 4px black;
    text-transform: uppercase;
    letter-spacing: 8.5px;
    font-weight: 300;
    transition: all 1s ease-in-out;
  }

  .svgMartin h2 span {
    margin-left: 10px;
  }

  .svgMartin a h2:hover,
  .svgMartin a h2::before {
    color: #555;
    transform: scale(1.05);
    opacity: 1;
  }
}
