@media screen and (max-width: 1150px) {
  .wallpaperTwo {
    background-image: linear-gradient(
      to top #05070cf5,
      #05070cb6,
      #05070cb6,
      #05070cb6,
      #0a1129c7,
      #0a1129c7,
      #0a1129ef,
      #0c1127f6,
      #091024ec,
      #161f37e3,
      #121b35ec,
      #0613364b
    );
    height: 150vh;
  }
  .test {
    background: #05070cb6;
    position: relative;
    min-height: 155vh;
    box-sizing: border-box;
    z-index: 1;
  }

  .section {
    height: 50vh;
    display: flex;
    flex-direction: row;
  }

  .flexElement {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flexElementTwo {
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    height: 50vh;
    width: 100%;
    border-radius: 30px;
  }

  .contentOne {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .photoElementOne {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s ease-in-out;
  }

  .photoElementOne img {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 90%;
  }

  .contentOne :hover,
  .contentOne ::before {
    transform: scale(1.025);
    transition: all 1.5s ease-in-out;
  }

  .headingElement {
    position: absolute;
    width: 100%;
    height: 210px;
    bottom: 10px;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headingElement a {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--fontfam4);
    font-weight: 400;
    text-shadow: 1px 1px 20px #777;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 1s ease-in-out;
    cursor: pointer;
  }

  .headingElement a:hover,
  .headingElement a::before {
    color: #ffff;
    transform: scale(1.05);
    text-shadow: 2px 2px 7px #777;
  }

  .headingElement p {
    color: wheat;
    width: 100%;
    font-size: smaller;
    text-transform: uppercase;
    font-family: var(--fontfam4);
    position: absolute;
    bottom: 30px;
  }

  .contentTwo {
    position: relative;
    width: 93%;
    height: 100%;
    border-radius: 10px;
  }

  .photoElementTwo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photoElementTwo img {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 95%;
    height: 90%;
    max-height: 100%;
    border-radius: 10px;
    transition: all 1.5s ease-in-out;
  }

  .contentTwo :hover,
  .contentTwo ::before {
    transform: scale(1.02);
    transition: all 1.5s ease-in-out;
  }

  .contentThree {
    position: relative;
    height: 85vh;
  }

  .contentThree :hover,
  .contentThree ::before {
    transform: scale(1.05);
    transition: all 2s ease-in-out;
  }

  .photoElementThree {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 2s ease-in-out;
  }

  .photoElementThree img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 100%;
    height: 100%;
  }

  .headingElementThree {
    position: absolute;
    width: 600px;
    height: 210px;
    top: 70px;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headingElementThree a {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--fontfam4);
    font-weight: 400;
    text-shadow: 1px 1px 20px #777;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 1s ease-in-out;
    cursor: pointer;
  }

  .headingElementThree p {
    width: 100px;
    height: 130px;
    font-family: var(--fontfam4);
    font-weight: smaller;
  }
}
