@media screen and (max-width: 1150px) {
  .wallpaperTwo {
    background-color: black;
    height: 190vh;
  }

  .test {
    position: relative;
    height: 200vh;
    box-sizing: border-box;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  
  .section {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }

  .flexElement {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    height: 125vh;
  }

  .flexElementTwo {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    border-radius: 30px;
  }

  .contentOne {
    bottom: 0;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    position: relative;
    width: 100vw;
  }

  .photoElementOne {
    border-radius: 10px;
    height: 100%;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: all 2s ease-in-out;
  }

  .photoElementOne img {
    opacity: 0.75;
    position: relative;
    min-width: 100%;
    transition: all 1s ease-in-out;
    height: 100%;
  }

  .contentOne :hover,
  .contentOne ::before {
    transform: scale(1.025);
    transition: all 1.5s ease-in-out;
  }

  .headingElement {
    position: absolute;
    width: 95%;
    height: 20%;
    left: 3%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headingElement a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: var(--fontfam4);
    font-weight: 400;
    text-shadow: 1px 1px 20px #777;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    font-size: 20px;
  }

  .headingElement a:hover,
  .headingElement a::before {
    color: #ffff;
    transform: scale(1.05);
    text-shadow: 2px 2px 7px #777;
  }

  .headingElement p{
    color: wheat;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--fontfam4);
    letter-spacing: 2px;
    margin-bottom: 1rem;
  }

  .contentTwo {
    height: 50vh;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 100vw;
    margin-top: 4rem;
  }

  .photoElementTwo {
    border-radius: 10px;
    height: 100%;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
  }

  .photoElementTwo img {
    position: relative;
    min-width: 100%;
    transition: all 1.5s ease-in-out;
    height: 100%;
    opacity: 0.85;

  }

  .contentTwo :hover,
  .contentTwo ::before {
    transform: scale(1.02);
    transition: all 1.5s ease-in-out;
  }

  .contentThree {
    height: 78vh;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 100vw;
    position: relative;
  }

  .contentThree :hover,
  .contentThree ::before {
    transform: scale(1.05);
    transition: all 2s ease-in-out;
  }

  .photoElementThree {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 2s ease-in-out;
  }

  .photoElementThree img {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 100%;
    transition: all 1s ease-in-out;
    opacity: 0.75;
    height: 100%;
  }

  .headingElementThree {
    position: absolute;
    width: 100%;
    height: 210px;
    top: 70px;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headingElementThree a {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: var(--fontfam4);
    font-weight: 400;
    text-shadow: 1px 1px 20px #777;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 1s ease-in-out;
    cursor: pointer;
  }

  .headingElementThree p {
    width: 100px;
    height: 130px;
    font-family: var(--fontfam4);
    font-weight: smaller;
  }
}
