@media screen and (min-width: 1150px) {
  .sectionOne {
    width: 100%;
    background: linear-gradient(to top, rgb(7, 1, 31), rgb(1, 11, 24));
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .sectionOne .titleFirst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 15%;
    height: 100%;
  }
  
  .sectionOne .titleFirst h2 {
    display: flex;
    align-items: flex-end;
    height: 35%;
    font-size: 27px;
    font-family: var(--fontfam4);
    font-weight: 600;
    letter-spacing: 3px;
  }
  
  .sectionOne .titleFirst p {
    display: flex;
    align-items: center;
    height: 45%;
    letter-spacing: 2px;
    font-size: 14px;
    color: #888;
  }
  
  .sectionOne .titleFirst a {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    font-family: var(--fontfam1);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 1.7s ease-in-out;
  }
  
  .sectionOne a:hover,
  .sectionone a::before {
    transform: scale(1.1);
    transition: all 1.7s ease-in-out;
  }
}
